{% extends "tienda/Base.html" %}
{% load static %}

{% block content %}

    <section class="d-flex flex-column justify-content-center align-items-center pt-5  text-center w-50 m-auto" id="intro">
        <h1 class="p-3 fs-2 border-bottom border-3" style="color: red;" >QUIENES SOMOS</h1> 
    </section>
<!--========================================================== -->
        <!-- SECCIONES DE QUINES SOMOS  -->
<!--========================================================== -->
    <section class="w-100">
        <div class="row w-75 mx-auto" id="servicios-fila-1">       
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
                <div>
                    <h3 class="fs-5 mt-4 px-4 pb-1" style="color: black;"> En Abuela María SPA</h3>
                    <p class="px-4"> Estamos consientes que para lograr un desarrollo sostenido en todas nuestras actividades, 
                        es fundamental, basar la ejecución de las mismas con altos estándares de calidad, preservando y cuidando el medio ambiente así como previniendo
                        los incidentes laborales y enfermedades profesionales de todos los que aquí colaboramos  y los principios que rige la norma HACCP. La calidad
                        de este tipo de productos está determinada por el cumplimiento de los requisitos legales y comerciales, la satisfacción del cliente y la producción
                        en un ciclo de mejora continua”..</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
                <div>
                    <br><br>
                    <p class="px-4">Para ello hemos instaurado los siguientes compromisos: 
                        Cumplir con la legislación vigente  de calidad, salud pre ocupacional, 
                        medio ambiente y HACCP aplicables a las actividades de producción de la empresa y con los requisitos voluntarios impuestos por nuestra empresa.
                    </p>
                </div>
            </div>   
        </div>
    </section>
    <section>
    <div style="display: flex;">
        <br>
        <div class="seccion60" id="seccion60" name="seccion60">
          <!-- Contenido de la columna izquierda (60%) -->
          </div>
        <br>
        <br><br><br><br><br><br>
        <div class="seccion40" id="seccion40" name="seccion40">
          <!-- Contenido de la columna derecha (40%) -->
          <br>
          <h1 class="text-center" style="color: #ff0000;">Nuestra Historia</h1>
          <br>
          <br>
          <p class="text-center" style="color: #000000;">Nos guiamos por la ética, la integridad
            y la innovación en todo lo que hacemos. Valoramos a nuestro equipo interno y nos esforzamos
            por capacitar, apoyar y estimular su crecimiento. Creemos que la paciencia y la constancia 
            son clave para lograr resultados excepcionales para todas las partes involucradas</p>
          <br>
          <br>
          <br>
        </div>
        <br>
    </div>
    </section>  
    <section class="d-flex flex-column justify-content-center align-items-center pt-5  text-center w-50 m-auto" id="intro">
        <h1 class="p-3 fs-2 border-bottom border-3" style="color: red;" >Nuestra Mision</h1>
        <p class="p-3  fs-4">
            Crear experiencias gastronómicas excepcionales a través de productos alimenticios artesanales de alta calidad
            que deleiten a nuestros clientes y reflejen nuestro compromiso con la autenticidad y la satisfacción del cliente.
        </p>   
    </section>
    <section>
        <div style="display: flex;">
            <div class="seccion40yzq" id="seccion40yzq" name="seccion40yzq">
              <br>
              <!-- Contenido de la columna izquierda (40%) -->

            </div>
            <div class="seccion60der" id="seccion60der" name="seccion60der">
                <br>
                <br>
                <br>
                <!-- Contenido de la columna derecha (60%) -->
                <h1 style="color: red;">Nuestra Mision</h1>
                <br>
                <h5 class="text-center" style="color: #000000;">Consolidarnos como líderes en la industria, reconocidos por la excelencia en la producción
                    de galletas artesanales. Nos esforzamos por ofrecer productos de alta calidad que deleiten a nuestros
                    clientes y creen una experiencia memorable. A través de la innovación constante y la expansión estratégica,
                    aspiramos a llevar el sabor único de nuestras galletas a los hogares de todo el mundo. <br><br>
                    Nuestro compromiso con la Responsabilidad Social: 
                    En Pozuelo manifestamos el compromiso y valores éticos que asumimos como Compañía, para contribuir al desarrollo integral y sostenible, 
                    de la mano con nuestro personal, clientes, familias, proveedores, gobierno, comunidades donde operamos y la sociedad en general; mejorando 
                    así la calidad de vida de las personas relacionadas con nuestro negocio.</h5>
                <br><br><br><br><br>
                <br><br><br>
            </div>
          </div>
    </section>
    <section>
        <section class="w-100">
            <div class="row w-75 mx-auto" id="servicios-fila-1">       
                <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
                    <div>
                        <img src="{% static 'aplicacion/img/logo.jpg' %}" width="=200" height="200">
                        <br>
                        <br>
                        <h6 class="text-center">Primer Logo de Abuela Maria</h6>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
                    <div>
                        <img src="{% static 'aplicacion/img/logo.jpg' %}" width="=200" height="200">
                        <br>
                        <br>
                        <h6 class="text-center">Segundo Logo de Abuela Maria</h6>
                        
                    </div>
                </div>  
                <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
                    <div>
                        <img src="{% static 'aplicacion/img/logo.jpg' %}" width="=200" height="200">
                        <br>
                        <br>
                        <h6 class="text-center">Segundo Logo de Abuela Maria</h6>
                    </div>
                </div>  
            </div>

    </section>

   



{% endblock%}