
body{
    background: url(../img/carrusel2.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.274);
    color: #ffffff;
}
 
 #container1 {
     margin-top: 50px;
    
 }
 .form-container{
     padding: 30px;
     border-radius: 20px;
     box-shadow: 0 0 10px rgb(7, 7, 7);
     animation: fadeInUp 1s;
     background-color: #00000081;
 }
 @keyframes fadeInUp {
     from {
         opacity: 0;
         transform: translateY(20px);
     }
     to {
         opacity: 1;
         transform: translateY(0);
     }
 }
