/* Estilos para el formulario de registro */
#card-body1{

        background-image: url("../img/carrusel2.jpg");
        background-position: center;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.699);
        color: #ffffff;

}
    


.form-container {
    margin: 0 auto;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1s;
    color: #ffffff;
    
}
.mi-input-estilo {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid rgba(255, 0, 0, 0);
    border-radius: 3px;
    background-color: rgba(2, 2, 2, 0.568);
    color: #ffffff; /* Cambia esto según el color de texto deseado */
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilos para el botón */
.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

/* Estilos al pasar el cursor sobre el botón */
.form-container button:hover {
    background-color: #1eb300;
}
